
 body{
  font-family: Roboto, sans-serif;
  font-size:16px;
  font-weight: 400px;
  background:#fff;
  position:relative;
 }
 .container{
  max-width:750px;
  margin:auto ;
 
}
 .info{
   display:inline-block;
   vertical-align:top;
   padding:20px;
 }
 p{
  color: #FF69B4;
 }

 a{
  color:#000000;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
a:active{
  color:#ff38d3;
}

h1{
  color:#ADFF2F;
}

h2{
  color: #9370DB;
}
.avatar{
   border-radius:10px;
   width:200px;
  box-shadow: 5px 5px 15px rgba(245, 174, 214);
}

table{
border-collapse: collapse;
border: 1px solid grey;
width: 400px;
}

th,td  {
  border: 1px solid grey;
  padding: 10px 15px;
}

.button{
  vertical-align:middle;
  background-color: #ffe1f5;
  border-color: #ff38d3;
  color:#000000 ;
  padding: 15px 32px;
  text-align: center;
  isplay: inline-block;
  font-size: 16px;
  border-radius:10px;
  margin-top: 10px;
}

.button:active{
  color:#ff38d3;
}

.block{
  border:2px solid #ff38d3  ;
  border-radius:10px;
  background-color:#ffe1f5;
   padding: 15px 32px;
   margin-top: 10px;
}

.block-color {
  background-color:#dcccf5;
}

.form h1{
 text-align: center;
}

.span {
  background:#000000;
  color:#FFFFFF;

}

.span2 {
  background:#ffe1f5;

}

.test-block {
  background:red;
}

.item {
  width:200px;
  position: absolute;
  left:1130px;
}

.item2 {
  width:200px;
  position: fixed;
  left:1130px;
  top:855px;
  z-index:10;

}

