
 body{
  font-family: Roboto, sans-serif;
  font-size:16px;
  font-weight: 400px;
  background:#fff;
 }
 .container{
  max-width:750px;
  margin:auto ;
}

 p{
  color: #FF69B4;
 }

 a{
  color:#000000;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
a:active{
  color:#ff38d3;
}

h1{
  color:#ADFF2F;
}

h2{
  color: #9370DB;
}
.avatar{
   border-radius:10px;
   width:200px;
  box-shadow: 5px 5px 15px rgba(245, 174, 214);
}

table{
border-collapse: collapse;
border: 1px solid grey;
width: 400px;
}

th,td  {
  border: 1px solid grey;
  padding: 10px 15px;
}

.button{
  vertical-align:middle;
  background-color: #ffe1f5;
  border-color: #ff38d3;
  color:#000000 ;
  padding: 15px 32px;
  text-align: center;
  isplay: inline-block;
  font-size: 16px;
  border-radius:10px;
  margin-top: 10px;
}

.button:active{
  color:#ff38d3;
}

.block{
  border:2px solid #ff38d3  ;
  border-radius:10px;
  background-color:#ffe1f5;
   padding: 15px 32px;
   margin-top: 10px;
}

.block-color{
  background-color:#dcccf5;
}

.container{

}